In [2]:
%matplotlib widget
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from ucimlrepo import fetch_ucirepo

# Wine quality data processing

In [4]:
# fetch dataset 
wine_quality = fetch_ucirepo(id=186) 
  
# data (as pandas dataframes) 
X: pd.DataFrame = wine_quality.data.features 
y: pd.DataFrame = wine_quality.data.targets 
  
# metadata 
print(wine_quality.metadata) 
  
# variable information 
print(wine_quality.variables)

{'uci_id': 186, 'name': 'Wine Quality', 'repository_url': 'https://archive.ics.uci.edu/dataset/186/wine+quality', 'data_url': 'https://archive.ics.uci.edu/static/public/186/data.csv', 'abstract': 'Two datasets are included, related to red and white vinho verde wine samples, from the north of Portugal. The goal is to model wine quality based on physicochemical tests (see [Cortez et al., 2009], http://www3.dsi.uminho.pt/pcortez/wine/).', 'area': 'Business', 'tasks': ['Classification', 'Regression'], 'characteristics': ['Multivariate'], 'num_instances': 4898, 'num_features': 11, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['quality'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2009, 'last_updated': 'Wed Nov 15 2023', 'dataset_doi': '10.24432/C56S3T', 'creators': ['Paulo Cortez', 'A. Cerdeira', 'F. Almeida', 'T. Matos', 'J. Reis'], 'intro_paper': {'title': 'Modeling wine preferences by data mining from physicochemical properties', 'authors': 'P. Cortez, A. Cerdeira, Fernando Almeida, Telmo Matos, J. Reis', 'published_in': 'Decision Support Systems', 'year': 2009, 'url': 'https://www.semanticscholar.org/paper/Modeling-wine-preferences-by-data-mining-from-Cortez-Cerdeira/bf15a0ccc14ac1deb5cea570c870389c16be019c', 'doi': None}, 'additional_info': {'summary': 'The two datasets are related to red and white variants of the Portuguese "Vinho Verde" wine. For more details, consult: http://www.vinhoverde.pt/en/ or the reference [Cortez et al., 2009].  Due to privacy and logistic issues, only physicochemical (inputs) and sensory (the output) variables are available (e.g. there is no data about grape types, wine brand, wine selling price, etc.).\n\nThese datasets can be viewed as classification or regression tasks.  The classes are ordered and not balanced (e.g. there are many more normal wines than excellent or poor ones). Outlier detection algorithms could be used to detect the few excellent or poor wines. Also, we are not sure if all input variables are relevant. So it could be interesting to test feature selection methods.\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'For more information, read [Cortez et al., 2009].\r\nInput variables (based on physicochemical tests):\r\n   1 - fixed acidity\r\n   2 - volatile acidity\r\n   3 - citric acid\r\n   4 - residual sugar\r\n   5 - chlorides\r\n   6 - free sulfur dioxide\r\n   7 - total sulfur dioxide\r\n   8 - density\r\n   9 - pH\r\n   10 - sulphates\r\n   11 - alcohol\r\nOutput variable (based on sensory data): \r\n   12 - quality (score between 0 and 10)', 'citation': None}}
                    name     role         type demographic  \
0          fixed_acidity  Feature   Continuous        None
1       volatile_acidity  Feature   Continuous        None
2            citric_acid  Feature   Continuous        None
3         residual_sugar  Feature   Continuous        None
4              chlorides  Feature   Continuous        None
5    free_sulfur_dioxide  Feature   Continuous        None
6   total_sulfur_dioxide  Feature   Continuous        None
7                density  Feature   Continuous        None
8                     pH  Feature   Continuous        None
9              sulphates  Feature   Continuous        None
10               alcohol  Feature   Continuous        None
11               quality   Target      Integer        None
12                 color    Other  Categorical        None

               description units missing_values
0                     None  None             no
1                     None  None             no
2                     None  None             no
3                     None  None             no
4                     None  None             no
5                     None  None             no
6                     None  None             no
7                     None  None             no
8                     None  None             no
9                     None  None             no
10                    None  None             no
11  score between 0 and 10  None             no
12            red or white  None             no

In [6]:
X

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8

In [5]:
y

      quality
0           5
1           5
2           5
3           6
4           5
...       ...
6492        6
6493        5
6494        6
6495        7
6496        6

[6497 rows x 1 columns]

In [8]:
data = pd.concat([y, (X - X.mean()) / X.std()], axis=1)
data

,quality,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
0,5,0.142462,2.188664,-2.192664,-0.744721,0.569914,-1.100055,-1.446247,1.034913,1.812950,0.193082,-0.915394
1,5,0.451001,3.281982,-2.192664,-0.597594,1.197883,-0.311296,-0.862402,0.701432,-0.115064,0.999502,-0.580023
2,5,0.451001,2.553104,-1.917405,-0.660648,1.026618,-0.874695,-1.092402,0.768128,0.258100,0.797897,-0.580023
3,6,3.073580,-0.362411,1.660957,-0.744721,0.541370,-0.762016,-0.986248,1.101609,-0.363840,0.327485,-0.580023
4,5,0.142462,2.188664,-2.192664,-0.744721,0.569914,-1.100055,-1.446247,1.034913,1.812950,0.193082,-0.915394
...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6,-0.783154,-0.787590,-0.197039,-0.807775,-0.486215,-0.367636,-0.420095,-1.186069,0.320294,-0.210128,0.593772
6493,5,-0.474615,-0.119451,0.284664,0.537383,-0.257863,1.491582,0.924517,0.067819,-0.426034,-0.478935,-0.747709
6494,6,-0.551750,-0.605370,-0.885185,-0.891847,-0.429127,-0.029596,-0.083942,-0.719196,-1.421138,-0.478935,-0.915394
6495,7,-1.323097,-0.301671,-0.128224,-0.912866,-0.971463,-0.592996,-0.101635,-2.003097,0.755652,-1.016548,1.935253
6496,6,-0.937423,-0.787590,0.422293,-0.975920,-1.028551,-0.480316,-0.313942,-1.762991,0.258100,-1.419758,1.096828

In [9]:
data.to_csv("/home/hqian/ResearchProjects/BaggingSAA/RealData/wine_quality.csv", index=False)

# Bike sharing data processing

In [2]:
# fetch dataset 
bike_sharing = fetch_ucirepo(id=275) 
  
# data (as pandas dataframes) 
X: pd.DataFrame = bike_sharing.data.features 
y: pd.DataFrame = bike_sharing.data.targets 
  
# metadata 
print(bike_sharing.metadata) 
  
# variable information 
print(bike_sharing.variables)

{'uci_id': 275, 'name': 'Bike Sharing', 'repository_url': 'https://archive.ics.uci.edu/dataset/275/bike+sharing+dataset', 'data_url': 'https://archive.ics.uci.edu/static/public/275/data.csv', 'abstract': 'This dataset contains the hourly and daily count of rental bikes between years 2011 and 2012 in Capital bikeshare system with the corresponding weather and seasonal information.', 'area': 'Social Science', 'tasks': ['Regression'], 'characteristics': ['Multivariate'], 'num_instances': 17389, 'num_features': 13, 'feature_types': ['Integer', 'Real'], 'demographics': [], 'target_col': ['cnt'], 'index_col': ['instant'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2013, 'last_updated': 'Sun Mar 10 2024', 'dataset_doi': '10.24432/C5W894', 'creators': ['Hadi Fanaee-T'], 'intro_paper': {'title': 'Event labeling combining ensemble detectors and background knowledge', 'authors': 'Hadi Fanaee-T, João Gama', 'published_in': 'Progress in Artificial Intelligence', 'year': 2013, 'url': 'https://www.semanticscholar.org/paper/bc42899f599d31a5d759f3e0a3ea8b52479d6423', 'doi': '10.1007/s13748-013-0040-3'}, 'additional_info': {'summary': 'Bike sharing systems are new generation of traditional bike rentals where whole process from membership, rental and return back has become automatic. Through these systems, user is able to easily rent a bike from a particular position and return back at another position. Currently, there are about over 500 bike-sharing programs around the world which is composed of over 500 thousands bicycles. Today, there exists great interest in these systems due to their important role in traffic, environmental and health issues. \r\n\r\nApart from interesting real world applications of bike sharing systems, the characteristics of data being generated by these systems make them attractive for the research. Opposed to other transport services such as bus or subway, the duration of travel, departure and arrival position is explicitly recorded in these systems. This feature turns bike sharing system into a virtual sensor network that can be used for sensing mobility in the city. Hence, it is expected that most of important events in the city could be detected via monitoring these data.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Both hour.csv and day.csv have the following fields, except hr which is not available in day.csv\r\n\t\r\n\t- instant: record index\r\n\t- dteday : date\r\n\t- season : season (1:winter, 2:spring, 3:summer, 4:fall)\r\n\t- yr : year (0: 2011, 1:2012)\r\n\t- mnth : month ( 1 to 12)\r\n\t- hr : hour (0 to 23)\r\n\t- holiday : weather day is holiday or not (extracted from http://dchr.dc.gov/page/holiday-schedule)\r\n\t- weekday : day of the week\r\n\t- workingday : if day is neither weekend nor holiday is 1, otherwise is 0.\r\n\t+ weathersit : \r\n\t\t- 1: Clear, Few clouds, Partly cloudy, Partly cloudy\r\n\t\t- 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist\r\n\t\t- 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds\r\n\t\t- 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog\r\n\t- temp : Normalized temperature in Celsius. The values are derived via (t-t_min)/(t_max-t_min), t_min=-8, t_max=+39 (only in hourly scale)\r\n\t- atemp: Normalized feeling temperature in Celsius. The values are derived via (t-t_min)/(t_max-t_min), t_min=-16, t_max=+50 (only in hourly scale)\r\n\t- hum: Normalized humidity. The values are divided to 100 (max)\r\n\t- windspeed: Normalized wind speed. The values are divided to 67 (max)\r\n\t- casual: count of casual users\r\n\t- registered: count of registered users\r\n\t- cnt: count of total rental bikes including both casual and registered\r\n', 'citation': None}}
          name     role         type demographic  \
0      instant       ID      Integer        None
1       dteday  Feature         Date        None
2       season  Feature  Categorical        None
3           yr  Feature  Categorical        None
4         mnth  Feature  Categorical        None
5           hr  Feature  Categorical        None
6      holiday  Feature       Binary        None
7      weekday  Feature  Categorical        None
8   workingday  Feature       Binary        None
9   weathersit  Feature  Categorical        None
10        temp  Feature   Continuous        None
11       atemp  Feature   Continuous        None
12         hum  Feature   Continuous        None
13   windspeed  Feature   Continuous        None
14      casual    Other      Integer        None
15  registered    Other      Integer        None
16         cnt   Target      Integer        None

                                          description units missing_values
0                                        record index  None             no
1                                                date  None             no
2                1:winter, 2:spring, 3:summer, 4:fall  None             no
3                             year (0: 2011, 1: 2012)  None             no
4                                     month (1 to 12)  None             no
5                                      hour (0 to 23)  None             no
6   weather day is holiday or not (extracted from ...  None             no
7                                     day of the week  None             no
8   if day is neither weekend nor holiday is 1, ot...  None             no
9   - 1: Clear, Few clouds, Partly cloudy, Partly ...  None             no
10  Normalized temperature in Celsius. The values ...     C             no
11  Normalized feeling temperature in Celsius. The...     C             no
12  Normalized humidity. The values are divided to...  None             no
13  Normalized wind speed. The values are divided ...  None             no
14                              count of casual users  None             no
15                          count of registered users  None             no
16  count of total rental bikes including both cas...  None             no

In [5]:
XComplete = pd.concat(
    [pd.get_dummies(X["mnth"], prefix="mnth", dtype=int), 
    pd.get_dummies(X["hr"], prefix="hr", dtype=int), 
    pd.get_dummies(X["weathersit"], prefix="weathersit", dtype=int), 
    X.loc[:, ["holiday", "workingday", "temp", "atemp", "hum", "windspeed"]]], axis=1
)
XComplete

,mnth_1,mnth_2,mnth_3,mnth_4,mnth_5,mnth_6,mnth_7,mnth_8,mnth_9,mnth_10,...,weathersit_1,weathersit_2,weathersit_3,weathersit_4,holiday,workingday,temp,atemp,hum,windspeed
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0.24,0.2879,0.81,0.0000
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0.22,0.2727,0.80,0.0000
2,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0.22,0.2727,0.80,0.0000
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0.24,0.2879,0.75,0.0000
4,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0.24,0.2879,0.75,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0.26,0.2576,0.60,0.1642
17375,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0.26,0.2576,0.60,0.1642
17376,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0.26,0.2576,0.60,0.1642
17377,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0.26,0.2727,0.56,0.1343
17378,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0.26,0.2727,0.65,0.1343

In [6]:
XComplete.iloc[:, -4:] = (XComplete.iloc[:, -4:] - XComplete.iloc[:, -4:].mean()) / XComplete.iloc[:, -4:].std()

In [7]:
XComplete

,mnth_1,mnth_2,mnth_3,mnth_4,mnth_5,mnth_6,mnth_7,mnth_8,mnth_9,mnth_10,...,weathersit_1,weathersit_2,weathersit_3,weathersit_4,holiday,workingday,temp,atemp,hum,windspeed
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,-1.334609,-1.093249,0.947345,-1.553844
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,-1.438475,-1.181698,0.895513,-1.553844
2,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,-1.438475,-1.181698,0.895513,-1.553844
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,-1.334609,-1.093249,0.636351,-1.553844
4,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,-1.334609,-1.093249,0.636351,-1.553844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,-1.230743,-1.269565,-0.141133,-0.211685
17375,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,-1.230743,-1.269565,-0.141133,-0.211685
17376,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,-1.230743,-1.269565,-0.141133,-0.211685
17377,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,-1.230743,-1.181698,-0.348463,-0.456086
17378,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,-1.230743,-1.181698,0.118028,-0.456086

In [11]:
y

       cnt
0       16
1       40
2       32
3       13
4        1
...    ...
17374  119
17375   89
17376   90
17377   61
17378   49

[17379 rows x 1 columns]

In [ ]:
yNorm = np.log(y+1)
yNorm = (yNorm - yNorm.mean()) / yNorm.std()
yNorm

            cnt
0     -1.228269
1     -0.607367
2     -0.760459
3     -1.365204
4     -2.737623
...         ...
17374  0.150051
17375 -0.052846
17376 -0.045053
17377 -0.315688
17378 -0.467403

[17379 rows x 1 columns]

In [12]:
data = pd.concat([y, XComplete], axis=1)
data

,cnt,mnth_1,mnth_2,mnth_3,mnth_4,mnth_5,mnth_6,mnth_7,mnth_8,mnth_9,...,weathersit_1,weathersit_2,weathersit_3,weathersit_4,holiday,workingday,temp,atemp,hum,windspeed
0,16,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,-1.334609,-1.093249,0.947345,-1.553844
1,40,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,-1.438475,-1.181698,0.895513,-1.553844
2,32,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,-1.438475,-1.181698,0.895513,-1.553844
3,13,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,-1.334609,-1.093249,0.636351,-1.553844
4,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,-1.334609,-1.093249,0.636351,-1.553844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,119,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,-1.230743,-1.269565,-0.141133,-0.211685
17375,89,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,-1.230743,-1.269565,-0.141133,-0.211685
17376,90,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,-1.230743,-1.269565,-0.141133,-0.211685
17377,61,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,-1.230743,-1.181698,-0.348463,-0.456086
17378,49,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,-1.230743,-1.181698,0.118028,-0.456086

In [13]:
data.to_csv("/home/hqian/ResearchProjects/BaggingSAA/RealData/bike_sharing.csv", index=False)

# Online news data processing

In [14]:
# fetch dataset 
online_news_popularity = fetch_ucirepo(id=332) 
  
# data (as pandas dataframes) 
X = online_news_popularity.data.features 
y = online_news_popularity.data.targets 
  
# metadata 
print(online_news_popularity.metadata) 
  
# variable information 
print(online_news_popularity.variables)

{'uci_id': 332, 'name': 'Online News Popularity', 'repository_url': 'https://archive.ics.uci.edu/dataset/332/online+news+popularity', 'data_url': 'https://archive.ics.uci.edu/static/public/332/data.csv', 'abstract': 'This dataset summarizes a heterogeneous set of features about articles published by Mashable in a period of two years. The goal is to predict the number of shares in social networks (popularity).', 'area': 'Business', 'tasks': ['Classification', 'Regression'], 'characteristics': ['Multivariate'], 'num_instances': 39797, 'num_features': 58, 'feature_types': ['Integer', 'Real'], 'demographics': [], 'target_col': [' shares'], 'index_col': ['url'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2015, 'last_updated': 'Thu Feb 15 2024', 'dataset_doi': '10.24432/C5NS3V', 'creators': ['Kelwin Fernandes', 'Pedro Vinagre', 'Paulo Cortez', 'Pedro Sernadela'], 'intro_paper': {'title': 'A Proactive Intelligent Decision Support System for Predicting the Popularity of Online News', 'authors': 'Kelwin Fernandes, Pedro Vinagre, P. Cortez', 'published_in': 'Portuguese Conference on Artificial Intelligence', 'year': 2015, 'url': 'https://www.semanticscholar.org/paper/A-Proactive-Intelligent-Decision-Support-System-for-Fernandes-Vinagre/ad7f3da7a5d6a1e18cc5a176f18f52687b912fea', 'doi': None}, 'additional_info': {'summary': '* The articles were published by Mashable (www.mashable.com) and their content as the rights to reproduce it belongs to them. Hence, this dataset does not share the original content but some statistics associated with it. The original content be publicly accessed and retrieved using the provided urls.\r\n* Acquisition date: January 8, 2015\r\n* The estimated relative performance values were estimated by the authors using a Random Forest classifier and a rolling windows as assessment method.  See their article for more details on how the relative performance values were set.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': "Number of Attributes: 61 (58 predictive attributes, 2 non-predictive, 1 goal field)\r\n\r\nAttribute Information:\r\n     0. url:                           URL of the article (non-predictive)\r\n     1. timedelta:                     Days between the article publication and the dataset acquisition (non-predictive)\r\n     2. n_tokens_title:                Number of words in the title\r\n     3. n_tokens_content:              Number of words in the content\r\n     4. n_unique_tokens:               Rate of unique words in the content\r\n     5. n_non_stop_words:              Rate of non-stop words in the content\r\n     6. n_non_stop_unique_tokens:      Rate of unique non-stop words in the content\r\n     7. num_hrefs:                     Number of links\r\n     8. num_self_hrefs:                Number of links to other articles published by Mashable\r\n     9. num_imgs:                      Number of images\r\n    10. num_videos:                    Number of videos\r\n    11. average_token_length:          Average length of the words in the content\r\n    12. num_keywords:                  Number of keywords in the metadata\r\n    13. data_channel_is_lifestyle:     Is data channel 'Lifestyle'?\r\n    14. data_channel_is_entertainment: Is data channel 'Entertainment'?\r\n    15. data_channel_is_bus:           Is data channel 'Business'?\r\n    16. data_channel_is_socmed:        Is data channel 'Social Media'?\r\n    17. data_channel_is_tech:          Is data channel 'Tech'?\r\n    18. data_channel_is_world:         Is data channel 'World'?\r\n    19. kw_min_min:                    Worst keyword (min. shares)\r\n    20. kw_max_min:                    Worst keyword (max. shares)\r\n    21. kw_avg_min:                    Worst keyword (avg. shares)\r\n    22. kw_min_max:                    Best keyword (min. shares)\r\n    23. kw_max_max:                    Best keyword (max. shares)\r\n    24. kw_avg_max:                    Best keyword (avg. shares)\r\n    25. kw_min_avg:                    Avg. keyword (min. shares)\r\n    26. kw_max_avg:                    Avg. keyword (max. shares)\r\n    27. kw_avg_avg:                    Avg. keyword (avg. shares)\r\n    28. self_reference_min_shares:     Min. shares of referenced articles in Mashable\r\n    29. self_reference_max_shares:     Max. shares of referenced articles in Mashable\r\n    30. self_reference_avg_sharess:    Avg. shares of referenced articles in Mashable\r\n    31. weekday_is_monday:             Was the article published on a Monday?\r\n    32. weekday_is_tuesday:            Was the article published on a Tuesday?\r\n    33. weekday_is_wednesday:          Was the article published on a Wednesday?\r\n    34. weekday_is_thursday:           Was the article published on a Thursday?\r\n    35. weekday_is_friday:             Was the article published on a Friday?\r\n    36. weekday_is_saturday:           Was the article published on a Saturday?\r\n    37. weekday_is_sunday:             Was the article published on a Sunday?\r\n    38. is_weekend:                    Was the article published on the weekend?\r\n    39. LDA_00:                        Closeness to LDA topic 0\r\n    40. LDA_01:                        Closeness to LDA topic 1\r\n    41. LDA_02:                        Closeness to LDA topic 2\r\n    42. LDA_03:                        Closeness to LDA topic 3\r\n    43. LDA_04:                        Closeness to LDA topic 4\r\n    44. global_subjectivity:           Text subjectivity\r\n    45. global_sentiment_polarity:     Text sentiment polarity\r\n    46. global_rate_positive_words:    Rate of positive words in the content\r\n    47. global_rate_negative_words:    Rate of negative words in the content\r\n    48. rate_positive_words:           Rate of positive words among non-neutral tokens\r\n    49. rate_negative_words:           Rate of negative words among non-neutral tokens\r\n    50. avg_positive_polarity:         Avg. polarity of positive words\r\n    51. min_positive_polarity:         Min. polarity of positive words\r\n    52. max_positive_polarity:         Max. polarity of positive words\r\n    53. avg_negative_polarity:         Avg. polarity of negative  words\r\n    54. min_negative_polarity:         Min. polarity of negative  words\r\n    55. max_negative_polarity:         Max. polarity of negative  words\r\n    56. title_subjectivity:            Title subjectivity\r\n    57. title_sentiment_polarity:      Title polarity\r\n    58. abs_title_subjectivity:        Absolute subjectivity level\r\n    59. abs_title_sentiment_polarity:  Absolute polarity level\r\n    60. shares:                        Number of shares (target)", 'citation': None}}
                             name     role         type demographic  \
0                             url       ID  Categorical        None
1                       timedelta    Other   Continuous        None
2                  n_tokens_title  Feature   Continuous        None
3                n_tokens_content  Feature   Continuous        None
4                 n_unique_tokens  Feature   Continuous        None
..                            ...      ...          ...         ...
56             title_subjectivity  Feature   Continuous        None
57       title_sentiment_polarity  Feature   Continuous        None
58         abs_title_subjectivity  Feature   Continuous        None
59   abs_title_sentiment_polarity  Feature   Continuous        None
60                         shares   Target      Integer        None

   description units missing_values
0         None  None             no
1         None  None             no
2         None  None             no
3         None  None             no
4         None  None             no
..         ...   ...            ...
56        None  None             no
57        None  None             no
58        None  None             no
59        None  None             no
60        None  None             no

[61 rows x 7 columns]

In [15]:
X

,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,num_videos,average_token_length,...,avg_positive_polarity,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity
0,12.0,219.0,0.663594,1.0,0.815385,4.0,2.0,1.0,0.0,4.680365,...,0.378636,0.100000,0.70,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500
1,9.0,255.0,0.604743,1.0,0.791946,3.0,1.0,1.0,0.0,4.913725,...,0.286915,0.033333,0.70,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000
2,9.0,211.0,0.575130,1.0,0.663866,3.0,1.0,1.0,0.0,4.393365,...,0.495833,0.100000,1.00,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000
3,9.0,531.0,0.503788,1.0,0.665635,9.0,0.0,1.0,0.0,4.404896,...,0.385965,0.136364,0.80,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000
4,13.0,1072.0,0.415646,1.0,0.540890,19.0,19.0,20.0,0.0,4.682836,...,0.411127,0.033333,1.00,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39639,11.0,346.0,0.529052,1.0,0.684783,9.0,7.0,1.0,1.0,4.523121,...,0.333791,0.100000,0.75,-0.260000,-0.500,-0.125000,0.100000,0.000000,0.400000,0.000000
39640,12.0,328.0,0.696296,1.0,0.885057,9.0,7.0,3.0,48.0,4.405488,...,0.374825,0.136364,0.70,-0.211111,-0.400,-0.100000,0.300000,1.000000,0.200000,1.000000
39641,10.0,442.0,0.516355,1.0,0.644128,24.0,1.0,12.0,1.0,5.076923,...,0.307273,0.136364,0.50,-0.356439,-0.800,-0.166667,0.454545,0.136364,0.045455,0.136364
39642,6.0,682.0,0.539493,1.0,0.692661,10.0,1.0,1.0,0.0,4.975073,...,0.236851,0.062500,0.50,-0.205246,-0.500,-0.012500,0.000000,0.000000,0.500000,0.000000
39643,10.0,157.0,0.701987,1.0,0.846154,1.0,1.0,0.0,2.0,4.471338,...,0.247338,0.100000,0.50,-0.200000,-0.200,-0.200000,0.333333,0.250000,0.166667,0.250000

In [18]:
y.max()

 shares    843300
dtype: int64

In [24]:
logY = np.log(y+1)

In [25]:
# data = pd.concat([(logY - logY.mean()) / logY.std(), (X - X.mean()) / X.std()], axis=1)
data = pd.concat([logY, (X - X.mean()) / X.std()], axis=1)
data

,shares,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,num_videos,...,avg_positive_polarity,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity
0,6.386879,0.757438,-0.695202,0.032771,0.000675,0.038657,-0.607455,-0.335562,-0.426520,-0.304264,...,0.237334,0.063864,-0.228938,-0.708361,-0.268891,-0.969874,0.671237,-0.975420,-1.810696,0.138918
1,6.568078,-0.661648,-0.618786,0.016056,0.000675,0.031478,-0.695700,-0.594956,-0.426520,-0.304264,...,-0.640032,-0.870957,-0.228938,1.102160,1.367406,0.078641,-0.870796,-0.269073,0.837738,-0.689649
2,7.313887,-0.661648,-0.712183,0.007644,0.000675,-0.007752,-0.695700,-0.594956,-0.426520,-0.304264,...,1.358384,0.063864,0.981786,-1.621776,-0.957859,-0.270864,-0.870796,-0.269073,0.837738,-0.689649
3,7.090910,-0.661648,-0.032932,-0.012619,0.000675,-0.007210,-0.166227,-0.854350,-0.426520,-0.304264,...,0.307438,0.573766,0.174637,-0.862574,-0.268891,-0.620369,-0.870796,-0.269073,0.837738,-0.689649
4,6.226537,1.230466,1.115425,-0.037654,0.000675,-0.045419,0.716228,4.074134,1.860037,-0.304264,...,0.548128,-0.870957,0.981786,0.307940,0.075593,0.602899,0.531052,0.244634,-1.569929,-0.087055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39639,7.496097,0.284409,-0.425624,-0.005443,0.000675,-0.001345,-0.166227,0.961408,-0.426520,-0.060828,...,-0.191633,0.063864,-0.027151,-0.003726,0.075593,-0.183488,-0.562389,-0.269073,0.308051,-0.689649
39640,7.550135,0.757438,-0.463832,0.042060,0.000675,0.059998,-0.166227,0.961408,-0.185830,11.380666,...,0.200878,0.573766,-0.228938,0.379039,0.420076,0.078641,0.054424,3.498112,-0.751322,3.729377
39641,7.550135,-0.188620,-0.221849,-0.009049,0.000675,-0.013798,1.157456,-0.594956,0.897276,-0.060828,...,-0.445296,0.573766,-1.036087,-0.758776,-0.957859,-0.620369,0.531052,0.244634,-1.569929,-0.087055
39642,7.003974,-2.080734,0.287589,-0.002477,0.000675,0.001067,-0.077982,-0.594956,-0.426520,-0.304264,...,-1.118920,-0.461973,-1.036087,0.424962,0.075593,0.996092,-0.870796,-0.269073,0.837738,-0.689649
39643,7.170888,-0.188620,-0.826806,0.043676,0.000675,0.048082,-0.872192,-0.594956,-0.546866,0.182608,...,-1.018606,0.063864,-1.036087,0.466031,1.109044,-0.969874,0.157226,0.672723,-0.927885,0.415107

In [26]:
data.to_csv("/home/hqian/ResearchProjects/BaggingSAA/RealData/online_news.csv", index=False)

# Appliances energy data processing

In [27]:
# fetch dataset 
appliances_energy_prediction = fetch_ucirepo(id=374) 
  
# data (as pandas dataframes) 
X = appliances_energy_prediction.data.features 
y = appliances_energy_prediction.data.targets 
  
# metadata 
print(appliances_energy_prediction.metadata) 
  
# variable information 
print(appliances_energy_prediction.variables)

{'uci_id': 374, 'name': 'Appliances Energy Prediction', 'repository_url': 'https://archive.ics.uci.edu/dataset/374/appliances+energy+prediction', 'data_url': 'https://archive.ics.uci.edu/static/public/374/data.csv', 'abstract': 'Experimental data used to create regression models of appliances energy use in a low energy building.', 'area': 'Computer Science', 'tasks': ['Regression'], 'characteristics': ['Multivariate', 'Time-Series'], 'num_instances': 19735, 'num_features': 28, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['Appliances'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2017, 'last_updated': 'Fri Mar 29 2024', 'dataset_doi': '10.24432/C5VC8G', 'creators': ['Luis Candanedo'], 'intro_paper': {'title': 'Data driven prediction models of energy use of appliances in a low-energy house', 'authors': 'L. Candanedo, V. Feldheim, Dominique Deramaix', 'published_in': 'Energy and Buildings, Volume 140', 'year': 2017, 'url': 'https://www.semanticscholar.org/paper/28025ec6f4d5ab121bd91b36c754c0f0831d2433', 'doi': '10.1016/j.enbuild.2017.01.083'}, 'additional_info': {'summary': 'The data set is at 10 min for about 4.5 months. The house temperature and humidity conditions were monitored with a ZigBee wireless sensor network. Each wireless node transmitted the temperature and humidity conditions around 3.3 min. Then, the wireless data was averaged for 10 minutes periods. The energy data was logged every 10 minutes with m-bus energy meters. Weather from the nearest airport weather station (Chievres Airport, Belgium) was downloaded from a public data set from Reliable Prognosis (rp5.ru), and merged together with the experimental data sets using the date and time column. Two random variables have been included in the data set for testing the regression models and to filter out non predictive attributes (parameters).\r\n\r\nFor more information about the house, data collection, R scripts and figures, please refer to the paper and to the following github repository:\r\n\r\nhttps://github.com/LuisM78/Appliances-energy-prediction-data\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'date time year-month-day hour:minute:second \r\nAppliances, energy use in Wh\r\nlights, energy use of light fixtures in the house in Wh\r\nT1, Temperature in kitchen area, in Celsius\r\nRH_1, Humidity in kitchen area, in %\r\nT2, Temperature in living room area, in Celsius\r\nRH_2, Humidity in living room area, in %\r\nT3, Temperature in laundry room area\r\nRH_3, Humidity in laundry room area, in %\r\nT4, Temperature in office room, in Celsius\r\nRH_4, Humidity in office room, in %\r\nT5, Temperature in bathroom, in Celsius\r\nRH_5, Humidity in bathroom, in %\r\nT6, Temperature outside the building (north side), in Celsius\r\nRH_6, Humidity outside the building (north side), in %\r\nT7, Temperature in ironing room , in Celsius\r\nRH_7, Humidity in ironing room, in %\r\nT8, Temperature in teenager room 2, in Celsius\r\nRH_8, Humidity in teenager room 2, in %\r\nT9, Temperature in parents room, in Celsius\r\nRH_9, Humidity in parents room, in %\r\nTo, Temperature outside (from Chievres weather station), in Celsius\r\nPressure (from Chievres weather station), in mm Hg\r\nRH_out, Humidity outside (from Chievres weather station), in %\r\nWind speed (from Chievres weather station), in m/s\r\nVisibility (from Chievres weather station), in km\r\nTdewpoint (from Chievres weather station), Â°C\r\nrv1, Random variable 1, nondimensional\r\nrv2, Random variable 2, nondimensional\r\n\r\nWhere indicated, hourly data (then interpolated) from the nearest airport weather station (Chievres Airport, Belgium) was downloaded from a public data set from Reliable Prognosis, rp5.ru. Permission was obtained from Reliable Prognosis for the distribution of the 4.5 months of weather data.\r\n', 'citation': None}}
           name     role        type demographic description  units  \
0          date  Feature        Date        None        None   None
1    Appliances   Target     Integer        None        None     Wh
2        lights  Feature     Integer        None        None     Wh
3            T1  Feature  Continuous        None        None      C
4          RH_1  Feature  Continuous        None        None      %
5            T2  Feature  Continuous        None        None      C
6          RH_2  Feature  Continuous        None        None      %
7            T3  Feature  Continuous        None        None      C
8          RH_3  Feature  Continuous        None        None      %
9            T4  Feature  Continuous        None        None      C
10         RH_4  Feature  Continuous        None        None      %
11           T5  Feature  Continuous        None        None      C
12         RH_5  Feature  Continuous        None        None      %
13           T6  Feature  Continuous        None        None      C
14         RH_6  Feature  Continuous        None        None      %
15           T7  Feature  Continuous        None        None      C
16         RH_7  Feature  Continuous        None        None      %
17           T8  Feature  Continuous        None        None      C
18         RH_8  Feature  Continuous        None        None      %
19           T9  Feature  Continuous        None        None      C
20         RH_9  Feature  Continuous        None        None      %
21        T_out  Feature  Continuous        None        None      C
22  Press_mm_hg  Feature  Continuous        None        None  mm Hg
23       RH_out  Feature  Continuous        None        None      %
24    Windspeed  Feature  Continuous        None        None    m/s
25   Visibility  Feature  Continuous        None        None     km
26    Tdewpoint  Feature  Continuous        None        None      C
27          rv1  Feature  Continuous        None        None   None
28          rv2  Feature  Continuous        None        None   None

   missing_values
0              no
1              no
2              no
3              no
4              no
5              no
6              no
7              no
8              no
9              no
10             no
11             no
12             no
13             no
14             no
15             no
16             no
17             no
18             no
19             no
20             no
21             no
22             no
23             no
24             no
25             no
26             no
27             no
28             no

In [28]:
X

,date,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-1117:00:00,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-1117:10:00,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-1117:20:00,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-1117:30:00,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390,45.410390
4,2016-01-1117:40:00,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-2717:20:00,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,...,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,2016-05-2717:30:00,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,2016-05-2717:40:00,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,...,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,2016-05-2717:50:00,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,...,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,2016-05-2718:00:00,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [29]:
y

       Appliances
0              60
1              60
2              50
3              50
4              60
...           ...
19730         100
19731          90
19732         270
19733         420
19734         430

[19735 rows x 1 columns]

In [31]:
XSelect = X.iloc[:, 1:].copy()
XSelect

,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433,13.275433
1,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195,18.606195
2,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668,28.642668
3,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390,45.410390
4,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [32]:
# data = pd.concat([(y - y.mean()) / y.std(), (XSelect - XSelect.mean()) / XSelect.std()], axis=1)
data = pd.concat([y, (XSelect - XSelect.mean()) / XSelect.std()], axis=1)
data

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,3.301180,-1.118616,1.843774,-0.520398,1.073656,-1.235032,1.686087,-0.908194,1.506399,...,-1.217293,0.958112,-0.152785,-2.976252,0.822060,1.207663,2.091543,0.366845,-0.807953,-0.807953
1,60,3.301180,-1.118616,1.616766,-0.520398,1.057071,-1.235032,1.704523,-0.908194,1.604488,...,-1.200748,0.965338,-0.175348,-2.962738,0.822060,1.071676,1.766539,0.343008,-0.440229,-0.440229
2,50,3.301180,-1.118616,1.517921,-0.520398,1.033523,-1.235032,1.748563,-0.944091,1.580878,...,-1.233838,0.950886,-0.196030,-2.949223,0.822060,0.935690,1.441535,0.319172,0.252102,0.252102
3,50,4.561263,-1.118616,1.459284,-0.520398,1.024514,-1.235032,1.769047,-0.962039,1.542487,...,-1.233838,0.926798,-0.218593,-2.935709,0.822060,0.799703,1.116531,0.295335,1.408765,1.408765
4,60,4.561263,-1.118616,1.526298,-0.520398,1.009771,-1.235032,1.769047,-0.962039,1.497953,...,-1.233838,0.926798,-0.241156,-2.922194,0.822060,0.663716,0.791527,0.271499,-1.028096,-1.028096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,-0.479068,2.415901,1.583259,2.530254,0.394439,2.458683,0.590195,1.881979,1.511774,...,1.843525,1.261617,2.874405,-0.043598,-1.616241,-0.288190,-1.243282,2.273765,1.249171,1.249171
19731,90,-0.479068,2.374391,1.568181,2.468238,0.407778,2.425451,0.608630,1.881979,1.511774,...,1.843525,1.261617,2.855603,-0.043598,-1.593871,-0.220197,-1.172629,2.273765,1.675900,1.675900
19732,270,0.781015,2.374391,1.592473,2.411042,0.576968,2.383911,0.752018,1.881979,1.544022,...,1.843525,1.261617,2.836800,-0.043598,-1.571502,-0.152204,-1.101976,2.273765,0.290487,0.290487
19733,420,0.781015,2.374391,1.691318,2.313197,0.642678,2.304155,0.629114,1.881979,1.557843,...,1.843525,1.268241,2.799196,-0.043598,-1.549132,-0.084210,-1.031323,2.249928,-1.287558,-1.287558
19734,430,0.781015,2.374391,1.593311,2.244927,0.626812,2.270923,0.588146,1.881979,1.597769,...,1.843525,1.274865,2.780393,-0.043598,-1.526762,-0.016217,-0.960670,2.249928,0.629858,0.629858

In [33]:
data.to_csv("/home/hqian/ResearchProjects/BaggingSAA/RealData/appliances_energy.csv", index=False)

# Superconductivity data processing

In [3]:
# fetch dataset 
superconductivty_data = fetch_ucirepo(id=464) 
  
# data (as pandas dataframes) 
X = superconductivty_data.data.features 
y = superconductivty_data.data.targets 
  
# metadata 
print(superconductivty_data.metadata) 
  
# variable information 
print(superconductivty_data.variables)

{'uci_id': 464, 'name': 'Superconductivty Data', 'repository_url': 'https://archive.ics.uci.edu/dataset/464/superconductivty+data', 'data_url': 'https://archive.ics.uci.edu/static/public/464/data.csv', 'abstract': 'Two file s contain data on 21263 superconductors and their relevant features.', 'area': 'Physics and Chemistry', 'tasks': ['Regression'], 'characteristics': ['Multivariate'], 'num_instances': 21263, 'num_features': 81, 'feature_types': ['Real'], 'demographics': [], 'target_col': ['critical_temp'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2018, 'last_updated': 'Fri Mar 29 2024', 'dataset_doi': '10.24432/C53P47', 'creators': ['Kam Hamidieh'], 'intro_paper': {'title': 'A data-driven statistical model for predicting the critical temperature of a superconductor', 'authors': 'K. Hamidieh', 'published_in': 'Computational materials science', 'year': 2018, 'url': 'https://www.semanticscholar.org/paper/A-data-driven-statistical-model-for-predicting-the-Hamidieh/b3bea0ac481f0869cb746f3b44d5689bf1a9b924', 'doi': None}, 'additional_info': {'summary': 'There are two files: (1) train.csv contains 81 features extracted from 21263 superconductors along with the critical temperature in the 82nd column, (2) unique_m.csv contains the chemical formula broken up for all the 21263 superconductors from the train.csv file.  The last two columns have the critical temperature and chemical formula.  The original data comes from http://supercon.nims.go.jp/index_en.html which is public.  The goal here is to predict the critical temperature based on the features extracted.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Please see the relevant paper for the feature explanations.', 'citation': None}}
                     name     role        type demographic description units  \
0      number_of_elements  Feature     Integer        None        None  None
1        mean_atomic_mass  Feature  Continuous        None        None  None
2    wtd_mean_atomic_mass  Feature  Continuous        None        None  None
3       gmean_atomic_mass  Feature  Continuous        None        None  None
4   wtd_gmean_atomic_mass  Feature  Continuous        None        None  None
..                    ...      ...         ...         ...         ...   ...
77          range_Valence  Feature     Integer        None        None  None
78      wtd_range_Valence  Feature  Continuous        None        None  None
79            std_Valence  Feature  Continuous        None        None  None
80        wtd_std_Valence  Feature  Continuous        None        None  None
81          critical_temp   Target     Integer        None        None  None

   missing_values
0              no
1              no
2              no
3              no
4              no
..            ...
77             no
78             no
79             no
80             no
81             no

[82 rows x 7 columns]

In [4]:
X

,number_of_elements,mean_atomic_mass,wtd_mean_atomic_mass,gmean_atomic_mass,wtd_gmean_atomic_mass,entropy_atomic_mass,wtd_entropy_atomic_mass,range_atomic_mass,wtd_range_atomic_mass,std_atomic_mass,...,mean_Valence,wtd_mean_Valence,gmean_Valence,wtd_gmean_Valence,entropy_Valence,wtd_entropy_Valence,range_Valence,wtd_range_Valence,std_Valence,wtd_std_Valence
0,4,88.944468,57.862692,66.361592,36.116612,1.181795,1.062396,122.90607,31.794921,51.968828,...,2.25,2.257143,2.213364,2.219783,1.368922,1.066221,1,1.085714,0.433013,0.437059
1,5,92.729214,58.518416,73.132787,36.396602,1.449309,1.057755,122.90607,36.161939,47.094633,...,2.00,2.257143,1.888175,2.210679,1.557113,1.047221,2,1.128571,0.632456,0.468606
2,4,88.944468,57.885242,66.361592,36.122509,1.181795,0.975980,122.90607,35.741099,51.968828,...,2.25,2.271429,2.213364,2.232679,1.368922,1.029175,1,1.114286,0.433013,0.444697
3,4,88.944468,57.873967,66.361592,36.119560,1.181795,1.022291,122.90607,33.768010,51.968828,...,2.25,2.264286,2.213364,2.226222,1.368922,1.048834,1,1.100000,0.433013,0.440952
4,4,88.944468,57.840143,66.361592,36.110716,1.181795,1.129224,122.90607,27.848743,51.968828,...,2.25,2.242857,2.213364,2.206963,1.368922,1.096052,1,1.057143,0.433013,0.428809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21258,4,106.957877,53.095769,82.515384,43.135565,1.177145,1.254119,146.88130,15.504479,65.764081,...,3.25,3.555556,3.223710,3.519911,1.377820,0.913658,1,2.168889,0.433013,0.496904
21259,5,92.266740,49.021367,64.812662,32.867748,1.323287,1.571630,188.38390,7.353333,69.232655,...,2.20,2.047619,2.168944,2.038991,1.594167,1.337246,1,0.904762,0.400000,0.212959
21260,2,99.663190,95.609104,99.433882,95.464320,0.690847,0.530198,13.51362,53.041104,6.756810,...,4.50,4.800000,4.472136,4.781762,0.686962,0.450561,1,3.200000,0.500000,0.400000
21261,2,99.663190,97.095602,99.433882,96.901083,0.690847,0.640883,13.51362,31.115202,6.756810,...,4.50,4.690000,4.472136,4.665819,0.686962,0.577601,1,2.210000,0.500000,0.462493
21262,3,87.468333,86.858500,82.555758,80.458722,1.041270,0.895229,71.75500,43.144000,29.905282,...,5.00,4.500000,4.762203,4.242641,1.054920,0.970116,3,1.800000,1.414214,1.500000

In [5]:
y

       critical_temp
0              29.00
1              26.00
2              19.00
3              22.00
4              23.00
...              ...
21258           2.44
21259         122.10
21260           1.98
21261           1.84
21262          12.80

[21263 rows x 1 columns]

In [10]:
data = pd.concat([y, (X - X.mean()) / X.std()], axis=1)
data

,critical_temp,number_of_elements,mean_atomic_mass,wtd_mean_atomic_mass,gmean_atomic_mass,wtd_gmean_atomic_mass,entropy_atomic_mass,wtd_entropy_atomic_mass,range_atomic_mass,wtd_range_atomic_mass,...,mean_Valence,wtd_mean_Valence,gmean_Valence,wtd_gmean_Valence,entropy_Valence,wtd_entropy_Valence,range_Valence,wtd_range_Valence,std_Valence,wtd_std_Valence
0,29.00,-0.080056,0.046732,-0.451640,-0.158846,-0.611805,0.044357,-0.003707,0.133722,-0.053037,...,-0.907733,-0.752138,-0.805893,-0.711688,0.186288,0.035182,-0.837939,-0.406157,-0.838353,-0.520057
1,26.00,0.614729,0.174265,-0.432061,0.059367,-0.604166,0.777412,-0.015267,0.133722,0.108898,...,-1.147057,-0.752138,-1.116705,-0.719437,0.664955,-0.014779,-0.033010,-0.362343,-0.426856,-0.450811
2,19.00,-0.080056,0.046732,-0.450967,-0.158846,-0.611644,0.044357,-0.218978,0.133722,0.093292,...,-0.907733,-0.740146,-0.805893,-0.700712,0.186288,-0.062233,-0.837939,-0.376948,-0.838353,-0.503292
3,22.00,-0.080056,0.046732,-0.451304,-0.158846,-0.611724,0.044357,-0.103613,0.133722,0.020127,...,-0.907733,-0.746142,-0.805893,-0.706208,0.186288,-0.010537,-0.837939,-0.391552,-0.838353,-0.511512
4,23.00,-0.080056,0.046732,-0.452314,-0.158846,-0.611966,0.044357,0.162771,0.133722,-0.199367,...,-0.907733,-0.764131,-0.805893,-0.722601,0.186288,0.113625,-0.837939,-0.435366,-0.838353,-0.538165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21258,2.44,-0.080056,0.653724,-0.593977,0.361736,-0.420297,0.031614,0.473902,0.572613,-0.657108,...,0.049561,0.337821,0.159783,0.394978,0.208918,-0.365993,-0.837939,0.701184,-0.838353,-0.388697
21259,122.10,0.614729,0.158681,-0.715636,-0.208763,-0.700448,0.432079,1.264865,1.332359,-0.959364,...,-0.955598,-0.928024,-0.848350,-0.865578,0.759202,0.747860,-0.837939,-0.591146,-0.906466,-1.011957
21260,1.98,-1.469625,0.407917,0.675441,0.906961,1.007458,-1.300962,-1.329484,-1.868817,0.734799,...,1.246178,1.382476,1.353014,1.469063,-1.548297,-1.583737,-0.837939,1.755300,-0.700142,-0.601402
21261,1.84,-1.469625,0.407917,0.719827,0.906961,1.046659,-1.300962,-1.053751,-1.868817,-0.078242,...,1.246178,1.290136,1.353014,1.370372,-1.548297,-1.249677,-0.837939,0.743212,-0.700142,-0.464229
21262,12.80,-0.774840,-0.003009,0.414154,0.363037,0.598040,-0.340717,-0.420141,-0.802650,0.367802,...,1.724825,1.130640,1.630257,1.010164,-0.612385,-0.217533,0.771919,0.324065,1.186093,1.813101

In [11]:
data.to_csv("/home/hqian/ResearchProjects/BaggingSAA/RealData/superconductivity.csv", index=False)

# Gas turbine data processing

In [12]:
# fetch dataset 
gas_turbine_co_and_nox_emission_data_set = fetch_ucirepo(id=551) 
  
# data (as pandas dataframes) 
X: pd.DataFrame = gas_turbine_co_and_nox_emission_data_set.data.features 
y = gas_turbine_co_and_nox_emission_data_set.data.targets 
  
# metadata 
print(gas_turbine_co_and_nox_emission_data_set.metadata) 
  
# variable information 
print(gas_turbine_co_and_nox_emission_data_set.variables)

{'uci_id': 551, 'name': 'Gas Turbine CO and NOx Emission Data Set', 'repository_url': 'https://archive.ics.uci.edu/dataset/551/gas+turbine+co+and+nox+emission+data+set', 'data_url': 'https://archive.ics.uci.edu/static/public/551/data.csv', 'abstract': 'The dataset contains 36733 instances of 11 sensor measures aggregated over one hour, from a gas turbine located in Turkey for the purpose of studying flue gas emissions, namely CO and NOx.', 'area': 'Computer Science', 'tasks': ['Regression', 'Clustering'], 'characteristics': ['Multivariate'], 'num_instances': 36733, 'num_features': 12, 'feature_types': ['Real'], 'demographics': [], 'target_col': None, 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2019, 'last_updated': 'Fri Mar 29 2024', 'dataset_doi': '10.24432/C5WC95', 'creators': [], 'intro_paper': None, 'additional_info': {'summary': "The dataset contains 36733 instances of 11 sensor measures aggregated over one hour (by means of average or sum) from a gas turbine located in Turkey's north western region for the purpose of studying flue gas emissions, namely CO and NOx (NO + NO2). The data comes from the same power plant as the dataset (http://archive.ics.uci.edu/ml/datasets/Combined+Cycle+Power+Plant) used for predicting hourly net energy yield. By contrast, this data is collected in another data range (01.01.2011 - 31.12.2015), includes gas turbine parameters (such as Turbine Inlet Temperature and Compressor Discharge pressure) in addition to the ambient variables. Note that the dates are not given in the instances but the data are sorted in chronological order. See the attribute information and relevant paper for details. Kindly follow the protocol mentioned in the paper (using the first three years' data for training/ cross-validation and the last two for testing) for reproducibility and comparability of works. The dataset can be well used for predicting turbine energy yield (TEY) using ambient variables as features.", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'The explanations of sensor measurements and their brief statistics are given below. \r\n\r\nVariable (Abbr.) Unit Min Max Mean\r\nAmbient temperature (AT) C â€“6.23 37.10 17.71\r\nAmbient pressure (AP) mbar 985.85 1036.56 1013.07\r\nAmbient humidity (AH) (%) 24.08 100.20 77.87\r\nAir filter difference pressure (AFDP) mbar 2.09 7.61 3.93\r\nGas turbine exhaust pressure (GTEP) mbar 17.70 40.72 25.56\r\nTurbine inlet temperature (TIT) C 1000.85 1100.89 1081.43\r\nTurbine after temperature (TAT) C 511.04 550.61 546.16\r\nCompressor discharge pressure (CDP) mbar 9.85 15.16 12.06\r\nTurbine energy yield (TEY) MWH 100.02 179.50 133.51\r\nCarbon monoxide (CO) mg/m3 0.00 44.10 2.37\r\nNitrogen oxides (NOx) mg/m3 25.90 119.91 65.29', 'citation': None}}
    name     role        type demographic description units missing_values
0   year  Feature     Integer        None        None  None             no
1     AT  Feature  Continuous        None        None  None             no
2     AP  Feature  Continuous        None        None  None             no
3     AH  Feature  Continuous        None        None  None             no
4   AFDP  Feature  Continuous        None        None  None             no
5   GTEP  Feature  Continuous        None        None  None             no
6    TIT  Feature  Continuous        None        None  None             no
7    TAT  Feature  Continuous        None        None  None             no
8    TEY  Feature  Continuous        None        None  None             no
9    CDP  Feature  Continuous        None        None  None             no
10    CO  Feature  Continuous        None        None  None             no
11   NOX  Feature  Continuous        None        None  None             no

In [13]:
X

,year,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,2011,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,0.32663,81.952
1,2011,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,0.44784,82.377
2,2011,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,0.45144,83.776
3,2011,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,0.23107,82.505
4,2011,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,0.26747,82.028
...,...,...,...,...,...,...,...,...,...,...,...,...
36728,2015,3.6268,1028.5,93.200,3.1661,19.087,1037.0,541.59,109.08,10.411,10.99300,89.172
36729,2015,4.1674,1028.6,94.036,3.1923,19.016,1037.6,542.28,108.79,10.344,11.14400,88.849
36730,2015,5.4820,1028.5,95.219,3.3128,18.857,1038.0,543.48,107.81,10.462,11.41400,96.147
36731,2015,5.8837,1028.7,94.200,3.9831,23.563,1076.9,550.11,131.41,11.771,3.31340,64.738
36732,2015,6.0392,1028.8,94.547,3.8752,22.524,1067.9,548.23,125.41,11.462,11.98100,109.240

In [15]:
y = X.loc[:, ["TEY"]].copy()
y

          TEY
0      134.67
1      134.67
2      135.10
3      135.03
4      134.67
...       ...
36728  109.08
36729  108.79
36730  107.81
36731  131.41
36732  125.41

[36733 rows x 1 columns]

In [16]:
XPartial = X.drop(["year", "TEY"], axis=1, inplace=False)
XPartial

,AT,AP,AH,AFDP,GTEP,TIT,TAT,CDP,CO,NOX
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,11.898,0.32663,81.952
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,11.892,0.44784,82.377
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,12.042,0.45144,83.776
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,11.990,0.23107,82.505
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,11.910,0.26747,82.028
...,...,...,...,...,...,...,...,...,...,...
36728,3.6268,1028.5,93.200,3.1661,19.087,1037.0,541.59,10.411,10.99300,89.172
36729,4.1674,1028.6,94.036,3.1923,19.016,1037.6,542.28,10.344,11.14400,88.849
36730,5.4820,1028.5,95.219,3.3128,18.857,1038.0,543.48,10.462,11.41400,96.147
36731,5.8837,1028.7,94.200,3.9831,23.563,1076.9,550.11,11.771,3.31340,64.738
36732,6.0392,1028.8,94.547,3.8752,22.524,1067.9,548.23,11.462,11.98100,109.240

In [18]:
data = pd.concat([y, (XPartial - XPartial.mean()) / XPartial.std()], axis=1)
data

,TEY,AT,AP,AH,AFDP,GTEP,TIT,TAT,CDP,CO,NOX
0,134.67,-1.762338,0.871040,0.401621,-0.451869,-0.377697,0.272115,0.536581,-0.149271,-0.904169,1.426479
1,134.67,-1.801895,0.809153,0.440345,-0.458201,-0.384370,0.266413,0.568734,-0.154781,-0.850600,1.462871
2,135.10,-1.854088,0.824625,0.483425,-0.442825,-0.375076,0.289223,0.589195,-0.017014,-0.849009,1.582665
3,135.03,-1.875692,0.809153,0.523256,-0.445409,-0.393903,0.289223,0.586272,-0.064774,-0.946403,1.473832
4,134.67,-1.874618,0.731794,0.505830,-0.448897,-0.392473,0.255008,0.561427,-0.138249,-0.930315,1.432987
...,...,...,...,...,...,...,...,...,...,...,...
36728,109.08,-1.891375,2.387283,1.060273,-0.981241,-1.543581,-2.533482,-0.667681,-1.515000,3.809891,2.044717
36729,108.79,-1.818787,2.402755,1.118082,-0.947389,-1.560502,-2.499267,-0.566839,-1.576536,3.876626,2.017059
36730,107.81,-1.642270,2.387283,1.199886,-0.791691,-1.598396,-2.476458,-0.391461,-1.468159,3.995954,2.641975
36731,131.41,-1.588332,2.418227,1.129423,0.074402,-0.476840,-0.258211,0.577503,-0.265913,0.415850,-0.047530
36732,125.41,-1.567453,2.433698,1.153418,-0.065015,-0.724460,-0.771430,0.302744,-0.549713,4.246543,3.763109

In [19]:
data.to_csv("/home/hqian/ResearchProjects/BaggingSAA/RealData/gas_turbine.csv", index=False)